//HEX
$dl-tcg-indigo-color-HEX: #373b70;
$dl-tcg-illuminary-gold-color-HEX: #d3ba84;
$dl-tcg-parchment-color-HEX: #e3caa8;
$dl-tcg-kelp-color-HEX: #1c1c1a;
//RGB
$dl-tcg-indigo-color-RGB: rgb(55, 59, 112);
$dl-tcg-illuminary-gold-color-RGB: rgb(211, 186, 132);
$dl-tcg-parchment-color-RGB: rgb(227, 202, 168);
$dl-tcg-kelp-color-RGB: rgb(28, 28, 26);
//CMYK
$dl-tcg-indigo-color-CMYK: cmyk(90, 85, 24, 11);
$dl-tcg-illuminary-gold-color-CMYK: cmyk(0, 12, 37, 17);
$dl-tcg-parchment-color-CMYK: cmyk(0, 11, 26, 11);
$dl-tcg-kelp-color-CMYK: cmyk(0, 0, 7, 89);
